@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500&family=Montserrat:wght@800&family=Noto+Sans+KR:wght@500&family=Noto+Sans+TC:wght@500&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif,'M PLUS 1', sans-serif,'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}